.pydevproject
.project
predictions
__pycache__
*#
*~

*.pickle
*.ann
*.csv
*.conll
*.alph
*.dict
*.crf
*.model
*.pdf
*.sh
*.pkl
*.log
*.swp
*.tmp
*.pyc
*.ser
*.ner
*.class
*.out
*.png
bin/
out/
decompositions/
*.emb
*.vec
*.vec.gz
*.params
